.landing-container {
    text-align: center;
    padding: 20px;
    background-color: #87CEEB; /* Sky blue color */
    height: 100vh;
  }
  
  .carousel {
    display: flex;
    overflow-x: auto;
    scroll-behavior: smooth;
    margin-bottom: 20px;
  }
  
  .carousel img {
    height: 200px;
    width: auto;
    margin: 0 10px;
  }
  
  .map-button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 20px;
    text-align: center;
    font-size: 16px;
    margin-bottom: 20px;
    cursor: pointer;
  }
  
  .description {
    text-align: center;
    margin: 0 auto;
    width: 50%;
    line-height: 2em; /* Double line spacing */
  }
  
  .description h2 {
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  .description p {
    font-size: 18px;
    margin-bottom: 20px; /* Add space between paragraphs */
  }
  